*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
body{
    background-color: aqua;
    line-height: 1.8;
}
form{
    background-color: pink;
    width: 400px;
    margin: 30px auto 0;
    padding: 20px;
    
}
/*Attribute selector*/
input[type="text"],
input[type="email"],
input[type="password"],select,textarea{
    display:block;
}
input[type="text"],input[type="password"],input[type="email"],input[type="number"],select,textarea{
    width:250px;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
textarea:focus{
    width: 300px;
    background-color: aquamarine;
    border:none;
}

::placeholder,
input[type="submit"], textarea{
    padding: 10px 30px;
    margin: 15px 25px 0;
    border:none;
    border-bottom:3px solid green;
    border-radius:3px;
    background-color:rgb(119, 119, 235);
}
textarea{
    border-left: 3px solid greenyellow;
}
select{
    background-color: rgb(116, 216, 163);
    color:beige;
    border: none;
}
input[type="submit"]{
    background-color: rgb(211, 47, 74);
    color: white;
    width: 78%;
    border: none;
}