*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section{
    width: 50rem;
    margin: auto;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.4);
    padding: 4rem;
    border-radius: 1rem;
    background-color: pink;
    display: flex;
    flex-direction: column;
    gap: 2rem 0;
}
img{
    height: 100%;
    width: 100%;
    object-fit: cover; /*for fitting the image*/
}
.price, .cart{
    font-weight: bold;
    border-radius: 1rem;
    background-color: dodgerblue;
    color: white;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    text-decoration: none;
}
.price{
    align-self: flex-start;
}
.cart{
    align-self: flex-end;
}
.name{
    font-weight: 800;
    font-size: 2.5rem;
}
.description{
    font-size: 1rem;
}